@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #141414;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.movie-swiper {
  padding: 1rem;
  margin: -1rem;
}

.movie-swiper .swiper-slide {
  width: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background: rgba(0, 0, 0, 0.5);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem !important;
}

.movie-swiper:hover .swiper-button-next,
.movie-swiper:hover .swiper-button-prev {
  opacity: 1;
}